[Unit]
Description=Demo Service with 7 seconds delay

[Service]
Type=simple
ExecStartPre=/bin/sleep 7
ExecStart=/home/rpdzkj/exe/demo

[Install]
WantedBy=multi-user.target
